//@import "~normalize.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
